<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {% comment %} <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css"> {% endcomment %}
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-amber.css">
  {% comment %} <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-cyan.css"> {% endcomment %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" /> {% endcomment %}
</head>

<body>
  {% block header %}
  <header class="w3-container w3-theme w3-card">
    <h3><a href="{% url 'ppco2:formseven' %}">Carbon Footprint Calculator for PhnomPenh-ers</a></h2>
  </header>{% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}
  <footer class="w3-container w3-theme w3-tiny w3-padding-32 w3-center">
      <p>This carbon footprinter is under test. Bong Bonlai. </p>
  </footer>{% endblock %}
</body>
</html>