{% extends "base.html" %}
{% block title %}Carbon Footprint Calculator - Phnom Penh{% endblock %}

{% block content %}

<div class="w3-container w3-center">
<p>Step <span class="w3-badge w3-theme">{{ wizard.steps.step1 }}</span> of {{ wizard.steps.count }}</p>
<h2>
{% if wizard.steps.step1 == 1 %}<i class="material-icons">account_circle</i> About You
{% elif wizard.steps.step1 == 2 %}<i class="material-icons">commute</i> Transportation
{% elif wizard.steps.step1 == 3 %}<i class="material-icons">accessibility_new</i> Clothing
{% elif wizard.steps.step1 == 4 %}<i class="material-icons">headset_mic</i> Electronics
{% elif wizard.steps.step1 == 5 %}<i class="material-icons">local_dining</i> Food
{% elif wizard.steps.step1 == 6 %}<i class="material-icons">power</i> Electricity
{% elif wizard.steps.step1 == 7 %}<i class="material-icons">house</i> House
{% endif %}</h2>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function() {
    $('#id_3-c1').change(function()  {
      x = document.getElementById("id_3-c2").parentElement.parentElement
      if(parseInt($(this).val()) === 0)
        {x.style.display = "none";}
      else {x.style.display = "";}
    });

    $('#id_3-c3').change(function()  {
      x = document.getElementById("id_3-c4").parentElement.parentElement
      if(parseInt($(this).val()) === 0)
        {x.style.display = "none";}
      else {x.style.display = "";}
    });

    $('#id_3-c5').change(function()  {
      x = document.getElementById("id_3-c6").parentElement.parentElement
      if(parseInt($(this).val()) === 0)
        {x.style.display = "none";}
      else {x.style.display = "";}
    });

    $('#id_3-c7').change(function()  {
      x = document.getElementById("id_3-c8").parentElement.parentElement
      if(parseInt($(this).val()) === 0)
        {x.style.display = "none";}
      else {x.style.display = "";}
    });
  });
</script>


<form action="" method="post">{% csrf_token %}
  <table>{{ wizard.management_form }}
  {% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
  {% else %}
    {% comment %} {{ wizard.form }} {% endcomment %}
    <ul class="w3-ul w3-border-top">
    {% for field in form %}
      <li class="w3-text-theme">
        <div class="w3-container w3-padding w3-text-theme">
          {% if field.errors %}
            <div class="w3-container w3-pink">
                {{ field.errors }}
            </div>{% endif %}

          {{ field.label_tag }} {{ field }}

          {% if field.help_text %}
            <div class="w3-panel w3-pale-green">{{ field.help_text|safe }}</div>{% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </table>

  <div class="w3-container w3-center"><input class="w3-btn w3-theme w3-xlarge" type="submit" value="Next"/></div>
  {% if wizard.steps.prev %}
  <div class="w3-container w3-center">
    <button class="w3-btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First step</button>
    <button class="w3-btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Prev step</button>
  </div>
  {% endif %}
</form>


{% endblock %}