<section id="{{ step.label }}" class="section">
  <p class="label">
    In the last 12 months, how many NEW appliances in each size have you purchased? How many users share them?
  </p>
  <section class="section">
    <div class="columns section">
      <div class="column">{% include "b-numberinput.html" with field=form.c1 %}</div>
      <div class="column">{% include "b-numberinput.html" with field=form.c2 min=1 %}</div>
    </div>
    <div class="columns section">
      <div class="column">{% include "b-numberinput.html" with field=form.c3 %}</div>
      <div class="column">{% include "b-numberinput.html" with field=form.c4 min=1 %}</div>
    </div>
    <div class="columns section">
      <div class="column">{% include "b-numberinput.html" with field=form.c5 %}</div>
      <div class="column">{% include "b-numberinput.html" with field=form.c6 min=1 %}</div>
    </div>
    <div class="columns section">
      <div class="column">{% include "b-numberinput.html" with field=form.c7 %}</div>
      <div class="column">{% include "b-numberinput.html" with field=form.c8 min=1 %}</div>
    </div>
  </section>
</section>