<section id="{{ step.label }}" class="section">

  {% include "b-input.html" with field=form.name %}
  {% include "b-input.html" with field=form.email %}
  {% include "b-numberinput.html" with field=form.offset %}

  <b-message type="is-info" has-icon>
    A <strong>carbon offset</strong> is a reduction in emissions of carbon dioxide or other greenhouse gases made in order to compensate for emissions made elsewhere. Offsets are measured in <strong>Tonnes</strong> of carbon dioxide-equivalent (CO<sub>2</sub>e).
  </b-message>

</section>