{% extends "base.html" %}

{% block content %}
<template>
<form action="{% url 'ppco2:vue_form' %}" class="section" method="POST">
  {% csrf_token %}
  <b-steps v-model="activeStep">
    {% for step in vue_form.steps %}
      <b-step-item
        step="{{ step.id }}" 
        label="{{ step.label }}" 
        icon-pack="fas" 
        icon="{{ step.icon }}" 
        :clickable="true">
        {% comment %} 
          <section class="section">
            <h1 class="title has-text-centered">
              <b-icon
                type="is-primary"
                pack="fas"
                icon="{{ step.icon }}"
                size="is-small">
              </b-icon> &nbsp;
              {{ step.label }}
            </h1>
          </section>
        {% endcomment %}
        {% include step.template %}
      </b-step-item>
    {% endfor %}

    <template slot="navigation" slot-scope="{previous, next}">
      <section class="section has-text-centered">
        <b-button size="is-medium" outlined type="is-info"icon-pack="fas" icon-left="backward" :disabled="previous.disabled" @click.prevent="previous.action" @click="scrollToTop">
          Previous
        </b-button>
        <b-button v-if="!next.disabled" size="is-medium" outlined type="is-success" icon-pack="fas" icon-right="forward" :disabled="next.disabled" @click.prevent="next.action" @click="scrollToTop">
          Next
        </b-button>
        <b-button v-if="next.disabled" native-type="submit" size="is-medium" outlined type="is-primary" icon-pack="fas" icon-right="paper-plane" @click="loadResult" :loading="submitClicked">
          Submit
        </b-button>
      </section>
    </template>
  </b-steps>
</form>
</template>
{% endblock %}
