<section id="{{ step.label }}" class="section">

  <b-field label="Q1 - What is your house primarily made of?">
    <div class="has-text-centered">
      <b-radio v-model="f4" name="f4" native-value="0">Wood</b-radio>
      <b-radio v-model="f4" name="f4" native-value="1000">Bricks and concrete</b-radio>
    </div>
  </b-field>

  {% include "b-numberinput.html" with field=form.f1 disabled="isWoodHouse"%}
  {% include "b-numberinput.html" with field=form.f2 min=1 disabled="isWoodHouse"%}
  {% include "b-numberinput.html" with field=form.f3 disabled="isWoodHouse"%}
  {% include "b-numberinput.html" with field=form.f5 min=1 disabled="isWoodHouse"%}
  
</section>