{% extends "base.html" %}
{% block title %}Carbon Footprint Calculator - Phnom Penh{% endblock %}

{% block content %}

<template>
<form action="{% url 'ppco2:vue_form' %}" class="section" method="POST">
  {% csrf_token %}
  <b-steps v-model="activeStep">
    {% for step in vue_form.steps %}
      <b-step-item step="{{ step.id }}" label="{{ step.label }}" icon-pack="fas" icon="{{ step.icon }}" :clickable="true">
        {% include step.template %}
      </b-step-item>
    {% endfor %}

    <template slot="navigation" slot-scope="{previous, next}">
      <section class="section has-text-centered">
        <b-button size="is-medium" outlined type="is-info"icon-pack="fas" icon-left="backward" :disabled="previous.disabled" @click.prevent="previous.action">
          Previous
        </b-button>
        <b-button size="is-medium" outlined type="is-success" icon-pack="fas" icon-right="forward" :disabled="next.disabled" @click.prevent="next.action">
          Next
        </b-button>
      </section>
    </template>
  </b-steps>
</form>
</template>


{% endblock %}

{% block vue %}
  {% load static %}
  <script src="{% static "ppcfpcal.js" %}"></script>
{% endblock %}